# Database Configuration
DATABASE_URL=postgresql://username:password@localhost:5432/nova_post_db
POSTGRES_USER=nova_user
POSTGRES_PASSWORD=nova_password
POSTGRES_DB=nova_post_db
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

# Server Configuration
PORT=3001
NODE_ENV=development

# NovaPost API
NOVA_POST_API_URL=https:/api-cdn.novapost.pl/dictionary/divisions/mobile/full/uk/versions.json

# Cron Job Configuration
UPDATE_CRON=0 2 * * *  # Daily at 2 AM

# Logging
LOG_LEVEL=info
LOG_FILE=logs/app.log 